.admin-messages {
    .alert {
        margin-bottom: 0;
        padding: 30px;
        border: none;
        border-radius: 0;
        font-size: 14px;
        color: #070707;
        position: relative;
    }
    .alert-success {
        background-color: #dff0d8;
    }
    .alert-warning {
        background-color: #fcf8e3;
    }
    .alert-content {
        margin-right: 80px;
        border-right: 1px solid #E4E4E4;
    }
    .date {
        position: absolute;
        top: 50%;
        margin-top: -22px;
        right: 20px;
    }
}
