@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.eot?30b57652c88c5dbd65de73aba00331a9);
  src: local("Roboto"), local("Roboto-Regular"), url(/fonts/Roboto-Regular.eot?30b57652c88c5dbd65de73aba00331a9) format("embedded-opentype"), url(/fonts/Roboto-Regular.woff?31012f9b3e3da44f87e842e419bc267a) format("woff"), url(/fonts/Roboto-Regular.ttf?25e40da956314b12d333fe72cc420957) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Medium.eot?f9f0c87146a33023da7ef5819191114e);
  src: local("Roboto"), local("Roboto-Regular"), url(/fonts/Roboto-Medium.eot?f9f0c87146a33023da7ef5819191114e) format("embedded-opentype"), url(/fonts/Roboto-Medium.woff?b14ca2d2b289afceb0b0fcfad933124c) format("woff"), url(/fonts/Roboto-Medium.ttf?ef677e217f2009c1685499df33414127) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Light.eot?d592a653abb7a57fedd8d263f6f187c0);
  src: local("Roboto"), local("Roboto-Regular"), url(/fonts/Roboto-Light.eot?d592a653abb7a57fedd8d263f6f187c0) format("embedded-opentype"), url(/fonts/Roboto-Light.woff?df0f59d80526acc6d0cd31413184263f) format("woff"), url(/fonts/Roboto-Light.ttf?13d61ef8e609b548d9b5bd989141e829) format("truetype");
  font-weight: 300;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: #000;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.3;
  height: 100%;
  color: #373a3c;
}

h1 {
  font-size: 2.4rem;
  font-weight: 400;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e4e5e5;
  color: #0011AB;
}

h2 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #0089cf;
}

p, ul, ol {
  margin-bottom: 2rem;
}
p:last-child, ul:last-child, ol:last-child {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

.wrapper {
  height: 100%;
  margin-left: 21.875%;
}

.wrapper-inner {
  min-height: 100%;
  padding-bottom: 98px;
  background: url(/images/mountains-1.jpg) no-repeat 100% 100% #1c498a;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.flex_left {
  justify-content: flex-start;
}

.content {
  background-color: #fff;
  margin: 6rem;
  border-radius: 4px;
  padding: 4rem 15rem;
}

.link:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.main-aside {
  width: 21.875%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  padding: 3rem 6rem;
}
.main-aside__logo {
  text-align: center;
  line-height: 2.4rem;
}
.main-aside__logo-link {
  font-weight: 500;
  color: #000;
}
.main-aside__logo-text {
  margin-bottom: 0;
}
.main-aside__menu-item {
  list-style: none;
}
.main-aside__menu-link {
  font-size: 2rem;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  padding: 1.6rem 0 1rem 0;
  border-bottom: 1px solid #d9d9d9;
  transition: 0.3s border-bottom, 0.3s color;
}
.main-aside__menu-link:hover {
  color: #0089cf;
  border-color: #0089cf;
}

.header {
  font-weight: 300;
}
.header__text {
  font-size: 1.6rem;
  color: #fff;
  padding: 1.6rem 6rem;
  background-color: #19427c;
}
.header__info {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  transition: 0.3s background-color;
}
.header__info:hover {
  background-color: #19427c;
}
.header__cabinet {
  text-align: right;
  padding: 2rem 6rem 0.8rem 0;
}
.header__cabinet-link {
  color: #fff;
}
.header__cabinet-icon {
  width: 10px;
  margin-left: 5px;
}
.header__exit {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  margin-left: 1.5rem;
}

.footer {
  padding: 3rem 6rem;
  height: 98px;
  margin-top: -98px;
  background-color: #0089cf;
  align-items: center;
}
.footer__dev {
  color: #fff;
  font-weight: 300;
}
.footer__dev-link {
  color: #fff;
  text-decoration: underline;
}
.footer__dev-link:hover {
  text-decoration: none;
}

.search__form {
  width: 190px;
  position: relative;
}
.search__input {
  border: 0.0625rem solid #40a6db;
  background: none;
  height: 38px;
  width: 100%;
  border-radius: 0.25rem;
  padding: 0 1rem;
  color: #fff;
}
.search__submit {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 30px;
  height: calc(100% - 2px);
  background: url(/images/icons/loupe.svg) no-repeat 50% 50% #0089cf;
  background-size: 15px auto;
  border: none;
  cursor: pointer;
}

.login-form {
  width: 480px;
  margin: 0 auto;
}
.login-form__title {
  font-size: 2.4rem;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.login-form__text {
  font-weight: 300;
}
.login-form__bottom {
  margin-top: 3.4rem;
  text-align: center;
}
.login-form__link-wrap {
  padding: 1.6rem 0;
}
.login-form__link-wrap_border {
  border-bottom: 1px solid #e5e5e5;
}
.login-form__link {
  font-weight: 300;
  color: #0089cf;
}
.login-form__link:hover {
  text-decoration: underline;
}
.login-form__icon {
  width: 10px;
}

.form-fields {
  flex-wrap: wrap;
}

.input-wrap {
  display: block;
  margin-bottom: 1.5rem;
}
.input-wrap_half {
  width: 48%;
  margin-right: 4%;
}
.input-wrap_half:nth-child(2n) {
  margin-right: 0;
}
.input-wrap_fullwidth {
  width: 100%;
}

.input-annotation {
  margin-bottom: 0.8rem;
}

.input {
  background: #fff;
  padding: 0.9rem 1.2rem;
  border: 1px solid #cccccc;
  width: 100%;
  font-size: 1.6rem;
  font-family: Roboto;
  border-radius: 4px;
  font-weight: 300;
}
.input:focus {
  border-color: #66afe9;
}

.input-red {
  color: #d9534f;
}

.checkbox-wrap {
  display: block;
  margin-bottom: 1.5rem;
  color: #818a91;
}

.form__files {
  margin: 2rem 0;
  background-color: #d9edf7;
  border: 1px solid #bcdff1;
  color: #31708f;
  padding: 2rem;
  border-radius: 0.25rem;
}
.form__files-title {
  font-size: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
}
.form__file {
  margin-bottom: 1.5rem;
}
.form__file:last-child {
  margin-bottom: 0;
}
.form__file-info {
  font-weight: 300;
  margin-top: 1rem;
}

.input-file {
  font-size: 1.6rem;
}

.button {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: Roboto;
  transition: 0.3s background-color;
}
.button_blue {
  background-color: #0089cf;
  color: #fff;
}
.button_fullwidth {
  width: 100%;
}
.button:hover {
  background-color: #004569;
}

.message {
  padding: 1.5rem;
  border-radius: 4px;
  margin: 10px 0;
}
.message_error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.message_success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.user-type-navs {
  margin-bottom: 4rem;
}
.user-type-navs__item {
  font-size: 2.4rem;
  color: #070707;
  display: inline-block;
  vertical-align: top;
  padding: 3rem 0;
  box-sizing: border-box;
  margin-right: 5rem;
}
.user-type-navs__item_active {
  border-bottom: 5px solid #0011AB;
  color: #0011AB;
}

.admin-messages__item {
  padding: 3rem;
  font-size: 1.4rem;
  color: #070707;
  position: relative;
  background-color: #fcf8e3;
}
.admin-messages__content {
  margin-right: 8rem;
  border-right: 1px solid #E4E4E4;
}
.admin-messages__title {
  font-size: 1.6rem;
  margin-bottom: 5px;
}
.admin-messages__body {
  margin-bottom: 0;
  font-weight: 300;
}
.admin-messages__date {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  right: 20px;
}
.admin-messages__date-line {
  margin-bottom: 5px;
  font-weight: 300;
}
