$white: #fff;
$black: #000;
$black-site: rgb(55, 58, 60);
$gray: #d9d9d9;
$gray-darker: rgba(0, 0, 0, 0.5);
$gray-lighter: #ccc;
$blue: #0089cf;
$blue-darker: #19427c;

$font-size-normal: 1.6rem;

$main-aside-width: 21.875%;

$transition-time: .3s;

$footer-height: 98px;
