.footer {
    padding: 3rem 6rem;
    height: $footer-height;
    margin-top: -$footer-height;
    background-color: $blue;
    align-items: center;
    &__dev {
        color: $white;
        font-weight: 300;
    }
    &__dev-link {
        color: $white;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}
